<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Wanderlust Cosmética | Cosmética Natural</h1>
		
		<p>Wanderlust Cosmética es un emprendimiento que nace de la necesidad de usar productos naturales, que sean
		conscientes tanto con nuestro cuerpo como con nuestro medio ambiente</p>
		<p>No olvides darle me gusta a nuestro Fanpage para que te enteres de todas las novedades! 
		<a>https://web.facebook.com/WanderlustCosmetica/</a>.</p>
	</div>
</div>